.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color:rgb(22, 122, 168);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 250px;
    object-fit: contain;
    margin: 0 10px;
    /* margin-top: 0px; */
}